<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Login</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='logo1.png')}}"
      type="image/x-icon"
    />
    <meta
      name="google-signin-client_id"
      content="1093626925500-re1kkpgcqsaamacpaorl0mjcfj48o79g.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <style>
      body {
        background-position: center;
        background-size: cover;
        background-image: url("{{url_for('static', filename='back.jpg')}}");
        min-height: 100%;
      }
    </style>
  </head>
  <body class="img js-fullheight">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Admin Login</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <form action="/checkadmindetails" method="post">
                <div class="form-group">
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    required
                    name="email"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="password-field"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required
                    name="password"
                  />
                  <span
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                    id="login_button"
                    onclick="myfunction()"
                  >
                    Sign In
                  </button>
                </div>
              </form>
              <br />
              <!--<div class="social d-flex text-center">
                <a href="#" class="px-2 py-2 mr-md-1 rounded"
                  ><span class="ion-logo-google mr-2"></span> Google</a
                >
              </div>-->
              <br />
              <div
                id="g_id_onload"
                data-client_id="1093626925500-re1kkpgcqsaamacpaorl0mjcfj48o79g.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-nonce=""
                data-auto_prompt="false"
              ></div>

              <div
                class="g_id_signin"
                data-type="standard"
                data-shape="pill"
                data-theme="filled_black"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
